html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 150px; /* Margin bottom by footer height */
  font-family: 'Fira Sans', sans-serif;
}

code {
	font-size:14px;
}
/**************
COLORS: 
  blue: #00ccff
orange: #ff6633
yellow: #ffffcc
***************/
.clr-blue {
	color: #00ccff;
}
.clr-orange {
	color:#ff6633;
}
.clr-green {
	color:#7ac943;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  background-color: #ffc;

}

.footer p {
    line-height:70px;
    height:70px;
    font-size:12px;
    padding: 0;
    margin:0;
    color: #00ccff;
}

.footer img {
    height: 100%;
    padding: 12px;
    width: auto;
    float:right;
}

.jumbotron {
    text-align: center;
    background-color: #fff;
    padding-top: 5px;
    padding-bottom: 20px;
}

.jumbotron h1 {
    text-shadow: 4px 4px 4px #d4d4d4;
    font-weight: 200;
    font-size: 36px;
    padding-right: 10%;
    padding-left: 10%;
    line-height:45px;
    
}

jumbotron img {
    margin: 0 20px;
}


/**********************************
Responsive navbar-brand image CSS
- Remove navbar-brand padding for firefox bug workaround
- add 100% height and width auto ... similar to how bootstrap img-responsive class works
***********************************/

.navbar-brand {
    padding: 0px;
}

.navbar-brand>img {
    height: 100%;
    padding: 15px 20px 0 20px;
    width: auto;
}

.navbar-inverse {
    background: none;
    border: none;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border: none;
}

.navbar-nav>.active>a {
    color: #fff;
    background-color:#ff6633;
    border: thin solid #ff6633;
}

.navbar-nav>li>a {
    color: #000;
    background-color:#ffffcc;
    border: thin solid #ffffcc;
    box-shadow: 3px 3px #d4d4d4;
}

.navbar-nav>li>a:hover {
    color: #fff;
    background-color:#00ccff;
    border: thin solid #00ccff;
    box-shadow: 6px 6px 9px #d4d4d4;
}

.navbar-nav>li>a:focus{
    color: #fff;
    background-color: #ff6633;
    border: thin solid #ff6633;
    box-shadow:none;
}


/* LOGO

line height is 20px by default so add 30px top and bottom to equal the new .navbar-brand 80px height  */

.logo .navbar-brand {
    height: 80px;
    margin: 5px 0;
}

.logo .nav>li>a {
    padding-top: 12px;
    padding-bottom: 12px;
    margin: 23px 2px 0 2px;
    border-radius: 7px;
}

.logo .navbar-toggle {
    padding: 10px;
    margin: 25px 15px 0 20px;
    background-color: #ffffcc;
    border: thin #66cc33 solid;
}
.navbar-toggle .icon-bar {
    border: thin #66cc33 solid;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #ffcccc;
    border-color: #ffcccc;
}

.dropdown-menu {
  min-width:120px;
}


/* CSS Transform Align Navbar Brand Text ... This could also be achieved with table / table-cells */

.navbar-alignit .navbar-header {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    height: 50px;
}

.navbar-alignit .navbar-brand {
    top: 50%;
    display: block;
    position: relative;
    height: auto;
    transform: translate(0, -50%);
    margin-right: 15px;
    margin-left: 15px;
}

.navbar-nav>li>.dropdown-menu {
    z-index: 9999;
}


/* Miscellaneous stylling options */

.align-ctr {
    text-align: center;
}

.align-lft {
    text-align: left;
    padding-left:20px;
}

.inline {  
    display: inline-block;
    vertical-align: middle;
}


.mar-horiz {
    margin-left: 25px;
    margin-right: 25px;
}

.mar-ico{
    margin: 12px 20px 12px -20px;
    padding: 3px 0px 6px 0px;  
}

.hlt{
    background-color:#ffffcc;
    border-radius:7px;
    text-shadow:none;   
}

.trm {
    vertical-align: super;
    font-size: 50%;
}

.bg-yel{
  background-color: #ffffcc;
  padding-bottom:20px;
}

.bg-pin{
  background-color: #ffcccc;
  padding-bottom:20px;
}

.bg-gre{
  background-color: #ccffff;
  padding-bottom:20px;
}

.col-md-12 {
  margin:2% 0;
  border-radius:18px;
}

.col-md-6 {
  margin:2% 3%;
  border-radius: 18px;
}

@media (min-width: 992px){
  .col-md-6 {
    width: 43.99999999%;
    margin:2% 3%;
    border-radius:18px;

  }
}

